<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="URL_MAPPING" value="https://www.minutoseguros.com.br/blog/feed/"/>
    <add key="ARTICLES_LIST" value="A,O,UM,UMA"/>
    <add key="PREPOSITIONS_LIST" value="DA,DE,DO,DOS,DAS,AO,À,DUMA,NA,NESSE,ÀQUELA,DELE,NELE,DOUTRO,NOUTRO,DAQUI"/>
  </appSettings>
</configuration>